.portfolio {
    margin-top: -150px;
}

.disabled {
    opacity: 0.5;
    background-color: gray;
}

.disabled:hover {
    cursor: not-allowed !important;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 12rem;
}

.image-content {
    object-fit: cover;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem
}

.portfolio__item a {
    margin: 0 auto;
}

/* ============= Media queries tablettes ============= */

@media screen and (max-width: 1124px) {

    .portfolio__container {
        grid-template-columns:1fr 1fr;
        gap: 1.2rem;
    }

}

@media screen and (max-width: 769px) {

    .portfolio {
       margin-top: 50px;
    }

}

/* ================== Media queries mobiles ================== */

@media screen and (max-width: 767px) {

    .portfolio {
        margin-top: 400px;
    }
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }


}

@media screen and (max-width: 389px) {
    .portfolio {
        margin-top: 600px;
    }

}

@media screen and (max-width: 321px) {

}